# lob

lob_api_key = ''

# clicksend

configuration_username = ''
configuration_password = ''

# pipl

pipl_contact_api_key = ''
pipl_social_api_key = ''
pipl_biz_api_key = ''

# facebook

facebook_email = ''
facebook_password = ''